.avatar {
    width: 167px;
    height: 239px;
    position: absolute;
}

.face {
    position: absolute;
    left: 29.77px;
}

.body {
    position: absolute;
    left: 18.15px;
    top: 82.44px;
}

.hand {
    position: absolute;
    top: 111.43px;
    left: 0;
}

.leg {
    position: absolute;
    bottom: 0;
    left: 42.84px;
}

.message {
    position: absolute;
    bottom: 104%;
    left: 0;
    right: 0;
    padding: 4px 12px;
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 12px;
}

.avatar {
    position: absolute;
    transition: all 0.6s;
}