.font0 {
  font-size: 0;
}

.front {
  z-index: 2000;
}

.form {
  transform: translateZ(100px) translateX(-50%);
}

.sky {
  background-color: #77DFF5;
  height: 314px;
}

.grass {
  background-color: #50B700;
  flex-grow: 1;
}

.cloud {
  animation-duration: 200s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slidein {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}