.font0 {
  font-size: 0;
}

.sky {
  background-color: #77DFF5;
  height: 34.8%
}

.grass {
  background-color: #50B700;
  height: 65.2%;
}

.cloud {
  animation-duration: 36s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slidein {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}